.racer_table {
  position: relative;
}

.racer_table td {
  background-color: white;
  height: 50px;
  width: 50px;
  min-width: 50px;
  min-height: 50px;
  border: solid gray 1px;
}

.racer_table td.active {
  background-image:url('../doge.jpg');
  background-position: center;

}

#game-end {
  display: none;
}
