<div class="container">
<h1>Doge Raser</h1>

  <% if @error_message %>
    <h3>Player names cannot be the same!</h3>
  <% end %>
<form action="/new_game" method="post">
  <input id = "player_2" type="hidden" name=<%= @player_2 %>>
  <input type="text" name="player_1" placeholder="player 1">
  <input type="text" name="player_2" placeholder="player 2">
  <input type="submit" value="Start Game">
</form>
</div>
