<html>
<head>
  <link rel="stylesheet" href="css/js_racer.css" >
    <script src="js/jquery-2.1.0.js"></script>
    <script src="js/js_racer.js"></script>
</head>
<body>
<table class="racer_table">
  <tr id="player1_strip">
    <td class="active" id="first-box"></td>
    <td id="second-box"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="last-box"></td>
  </tr>
  <tr id="player2_strip">
    <td id="first-box" class="active"></td>
    <td id="second-box"></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td class="last-box"></td>
  </tr>
</table>
<div id="game-start">
    <h2>Get ready to go</h2>
</div>
<div id="game-end">
    <h2>Game Over!</h2>
</div>
</body>
</html>
